body {
  margin: 0;
  padding: 0; }
  body .earth {
    position: relative;
    width: 300px;
    padding: 100px;
    z-index: 1; }
  body .moon {
    position: absolute;
    top: 170px;
    left: 170px;
    animation: linear 5s orbita infinite;
    z-index: 0; }

@keyframes orbita {
  0% {
    width: 70px; }
  24% {
    z-index: 0; }
  25% {
    left: 400px;
    top: 130px;
    z-index: 2; }
  50% {
    width: 140px; }
  74% {
    z-index: 2; }
  75% {
    top: 300px;
    left: 0;
    z-index: 0; }
  100% {
    width: 70px;
    transform: rotate(360deg); } }
